* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; 
  height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  /* padding: 20px 0px; */
  display: flex;
  flex-wrap: wrap; 
}


h1,p {
  color: whitesmoke;
}
h1:hover{
  color: linear-gradient(rgba(236, 228, 228, 0.179), rgba(0, 0, 0, 0.5));
  text-decoration:underline; 

}

p:hover{
  color: linear-gradient(rgba(236, 228, 228, 0.179), rgba(0, 0, 0, 0.5));
  text-decoration: underline;
}





/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.tile a {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

 .tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  /* width:50%;
  height: 50%;
  border-radius: 10px;
  transition: 0.2s ease-out; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
} 
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  cursor: pointer;
  filter: brightness(50%);
  border-radius: 10px;
  transform: scale(1.1);
}

img:hover{
  transition: 0.2s all;
}


/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  margin:  0 auto;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(236, 228, 228, 0.179), rgba(0, 0, 0, 0.5)),
    url("../assets/hero.jpg");

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  height: 100vh;
  background-position: center;
  align-items:center;
  justify-content:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  display: flex;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

.nav-item:hover{
  color: grey;
  transition: 0.02s ease-out;
}


/* ================================== */
/* Adventures grid page CSS */
/* ================================== */
.adventure-card:hover{
  cursor: pointer;
  filter: brightness(60%);
  transform: scale(1.1);
  margin-left: 20px;
  margin-right: 20px;

}

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  cursor: pointer;
  border: none;
  overflow: none;
  
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  
  

}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter:brightness(40%);
  transform:scale(1.0);
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.sold{
  position: sticky;
  top: 3rem;
  border: 0.8px solid gray;
  height: min-content;
}


.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  border: 0.8px solid gray;
  border-radius: 4px;
  padding: 16px;

}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width:100%;
  height:100%;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter:brightness(40%);
  transform:scale(1.1);
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}
.img-container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1.5rem;
  row-gap: 1rem;
}
.primary-image{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
#ind{
  color:orange !important;
}
#imp{
  color: grey;
  font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }

  @media only screen and (min-width: 992px){
    #reservation{
      width: 300px;
      position: fixed;
    }
  }
}
